<!-- templates/login.html -->
{% extends 'base.html' %} 
{% block content %}
<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        flex-direction: column;
    }
    form {
        min-width: 300px;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #333;
    }
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    button {
        background-color: #0D6EFD;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover {
        background-color: #2980b9;
    }

</style>


{% if not user.is_authenticated %}
<div class="container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <div class="error">
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}  
        Don't have an account ? <a href={% url 'signup' %}>Sign up</a>
    </div>
    {% else %}
    <div class="container">
       <h3> You are already Logged In </h3>
    <h3>
         
</div>
{% endif %}  


{% endblock %}
