{% extends "base.html" %}
{% block content %}
<style>
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }
  form {
    min-width: 320px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color:  #0D6EFD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #2980b9;
}
ul, .helptext{
  display: none;
}
</style>

<div class="container">
  <form id="signupForm" method="post" action="{% url 'signup' %}">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
</div>
<center style="margin-bottom: 10px;">Already have an account ? <a href={% url 'login' %}> Log In</a></center>

{% endblock %}
