<!-- templates/smartparking_app/spot_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Parking Spot List</title>
</head>
<body>
    <h1>Parking Spot List</h1>
    <ul>
        {% for spot in spots %}
            <li>
                Spot Number: {{ spot.id }},
                Parking Center Number: {{ spot.parking_center_id }},
                Spot Name: {{ spot.name }},
                Spot available: {{ spot.avaliable}}
                    
            </li>   
        {% empty %}
            <li>No parking spots available.</li>
        {% endfor %}
    </ul>
</body>
</html>
